.f-ad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;

   a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

#custom-ad {
  width: 100%;
  height: auto;
  display: block;
}

#films-section {
  padding: 33px;
  padding-top: 15px;
  max-width: 1366px;
  margin: 0 auto;

  #title {
    font-size: 34px;
    color: #fff;
  }

  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    gap: 20px;
    color: #fff;

    a {
      height: 100%;
      width: 295px;
      display: block;

      .content-inner {
        height: 300px;
        width: 295px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        background-color: #fffdf052;

        &.right-reveal {
          transform: translateX(-30px);
          opacity: 0;
          transition: all 0.5s ease;

          &.active {
            transform: translateX(0);
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain !important;
        }

        .views {
          position: absolute;
          z-index: 20;
          top: 0;
          width: 100%;
          left: 0;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .series {
            padding: 0 10px;
            border-radius: 5px;
            background-color: #0000004d;
            color: #ff8c22;
          }

          .save-mob {
            display: none;
          }

          .count {
            background-color: #fff;
            padding: 3px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            gap: 5px;
            color: #10131c;

            svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        .data {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgba(0, 0, 0, 0.555);
          position: absolute;
          bottom: 0;
          color: #fff;
          width: 100%;
          padding: 10px 15px;
          opacity: 0;

          .texts {
            width: 80%;
          }

          h1 {
            font-size: 20px;
            white-space: nowrap;
            /* Matnni bir qatorga sig'dirish */
            overflow: hidden;
            /* Sig'magan qismni yashirish */
            text-overflow: ellipsis;
            /* Uch nuqta qo'shish */
          }

          p {
            white-space: nowrap;
            /* Matnni bir qatorga sig'dirish */
            overflow: hidden;
            /* Sig'magan qismni yashirish */
            text-overflow: ellipsis;
          }

          img {
            width: 30px !important;
            height: auto;
          }
        }

        &:hover .data {
          opacity: 1;
        }
      }
    }
  }

  .divider {
    width: 95%;
    margin: 0 auto;
    height: 2px;
    background-image: linear-gradient(to left, #ffffff00, #0091f0, #ffffff00);
    border-radius: 5px;
    margin-top: 80px;
  }

  #see-all {
    text-align: center;
    margin-top: 50px;

    a {
      padding: 10px 20px;
      border-radius: 8px;
      color: #fff;
      background-color: #0091f0;

      &:hover {
        background-color: #0e71b3;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #films-section {
    padding: 20px 10px 33px !important;

    #title {
      font-size: 24px !important;
      text-align: center;
    }

    .contents {
      justify-content: center !important;

      a {
        width: 46%;

        .content-inner {
          width: 100%;
          height: 200px;

          .views {
            .series {
              padding: 0 5px;
              font-size: 14px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 40px;
            }
            .count {
              font-size: 14px;
              padding: 0 5px;
              svg {
                width: 14px;
                height: 14px;
              }
            }
            .save-mob {
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              svg {
                width: 22px;
                height: 22px;
              }
            }
          }

          .data {
            opacity: 1;
            padding: 5px 7px;

            .texts {
              width: 100%;
              h1 {
                font-size: 14px;
              }

              p {
                font-size: 12px;
              }
            }

            .save {
              display: none;
            }
          }
        }
      }
    }

    .divider {
      margin-top: 60px;
    }
  }
}
