.donate-container {
  background-color: #1e222e;
  padding: 20px;
  max-width: 1366px;
  width: 95%;
  margin: 20px auto 0;
  border-radius: 15px;

  h2, h3 {
    color: #fff;
    text-align: center;
    letter-spacing: 1.1px;
    position: relative;
    overflow: hidden;
  }
  
  
  h2 {
    padding: 10px 0 0;
    border-radius: 10px 10px 0 0;
  }

  h3 {
    border-radius: 0 0 10px 10px;
    padding: 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 40px;
    }
  }

  h2::before, h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.111),
      transparent
    );
    animation: shine 3s infinite;
  }

  @keyframes shine {
    100% {
      left: 100%;
    }
  }

  h2 span {
    color: #f59422;
    display: inline-block;
  }
  a {
    background-color: #f59422;
    color: #fff;
    width: 100%;
    min-height: 45px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 10px;

    &:hover {
      background-color: transparent;
      border-color: #f59422;
    }
  }
}

@media screen and (max-width: 749px) {
  .donate-container {
    margin: 20px auto 0;
    width: 95%;
    h2 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .donate-container {
    h2, h3 {
      font-size: 16px;
    }

    a {
      font-size: 14px;
    }
  }
}
