#comments {
    padding-left: 55px;
    width: 100%;

    h3 {
        color: #FF8C22;
        margin-top: 15px;
    }

    .users-comments {
        padding-left: 27px;
        max-height: 500px;
        overflow: auto;
        padding-right: 7px;

        li {
            border-bottom: 1px solid #ffffff34;
            padding: 10px 0;
            span {
                opacity: 0.6;
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                display: flex;
                justify-content: space-between;
            }

            p {
                color: #fff;
                word-break: break-word;
            }
        }
    }

    .letter-count {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: #fff;
        align-items: center;
        height: 50px;
    }

    textarea {
        border: 2px solid transparent;
        outline: none;
        width: 97%;
        resize: none;
        margin-left: 27px;
        border-radius: 5px;
        // margin-top: 15px;
        padding: 10px;
        height: 200px;
        background-color: #1e222b;
        color: #fff;
        
        &:valid, &:focus {
            border-color: #fff;
            box-shadow: 0 0 5px 0 #fff,
                        inset 0 0 10px 0 #fff;
        }
    }

    #btn-cont {
        margin-top: 15px;
    }

    .bad-word-message {
        color: red;
        padding-left: 28px;
        margin-top: 5px;
    }

    button, a {
        margin-top: 10px;
        margin-left: 27px;
        padding: 7px 15px;
        background-color: transparent;
        border: 2px solid #ffffff34;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        animation: btn-anim 3s infinite linear;

        &:hover {
            border-color: #fff;
            box-shadow: 0 0 5px 0 #fff,
                        inset 0 0 10px 0 #fff;
        }
    }

    @keyframes btn-anim {
        0% {
            box-shadow: 0 0 5px 0 #fff;
        }

        7%{
            box-shadow: unset;
        }

        10% {
            box-shadow: 0 0 10px 0 #fff;
        }

        17% {
            box-shadow: 0 0 5px 0 #fff;
        }

        22%{
            box-shadow: unset;
        }

        30% {
            box-shadow: 0 0 10px 0 #fff;
        }

        38% {
            box-shadow: 0 0 5px 0 #fff;
        }

        45%{
            box-shadow: unset;
        }

        50% {
            box-shadow: 0 0 10px 0 #fff;
        }
    }
}

@media screen and (max-width: 749px) {
    #comments {
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    #comments {
        width: 100%;    
        
        .users-comments {
            padding-left: 0;       
        }

        textarea, button, a {
            margin-left: 0;
        }

        textarea {
            height: 120px;
        }
    }

}