#logout {
    width: 100%;
    height: 45px;
    font-size: 16px;
    background-color: red;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    border: 1px solid transparent;
    margin-top: 10px;

    &:hover {
        background-color: transparent;
        border: 1px solid red;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    /* Modal pastdan chiqishi uchun */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-out;
    /* Animatsiya qo'shish */
}

.ReactModal__Content--after-open {
    transform: translate(-50%, -50%);
    /* Modal o'z joyiga qaytishi */
}

.ReactModal__Content--before-close {
    transform: translate(-50%, 100%);
    /* Modal yopilganida pastga qaytishi */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    button {
        width: 100%;
        height: 45px;
        font-size: 16px;
        background-color: red;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        border: 1px solid transparent;
        margin-top: 10px;

        &:hover {
            background-color: transparent;
            border: 1px solid red;
            color: red;
        }
    }
}

@media screen and (max-width: 500px) {
    .modal {
        width: 85%;
    }
}