.err-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;

  .err-card {
    border: 1px solid #C9C9C9;
    border-radius: 16px;
    max-width: 500px;
    padding: 30px;
    
    h3 {
      font-size: 24px;
      text-align: center;
    }
  }
}

#profile-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 90px;

  #pp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .width {
    display: flex;
    width: 100%;
    gap: 30px;

    .big-ads {
      max-width: 841px;
      width: 100%;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1e222b;
      border: 1px solid #807e7e;
      color: #fff;

      .ads {
        display: none;
      }

      h1 {
        color: #fff;
      }
    }
  }

  .profile-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #1e222b;
    border: 1px solid #807e7e;
    border-radius: 1rem;
    padding: 20px;

    .profile-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-container {
        width: 130px;
        height: 130px;
        background-color: #c4c4c4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 1px solid #c4c4c4;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      #name {
        font-size: 22px;
        margin-top: 10px;
      }
    }

    .profile-datas {
      width: 100%;

      p {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin-top: 10px;

        span:first-child {
          color: #ffffffa2;
        }
      }

      #phone-number {
        span:last-child {
          margin-left: 30px;
        }
      }

      .edit-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        font-size: 16px;
        background-color: green;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        border: 1px solid transparent;
        margin-top: 10px;

        &:hover {
          background-color: transparent;
          border: 1px solid green;
        }
      }
    }

    #created-date {
      color: #ffffff80;
    }
  }

  .title-line {
    position: relative;
    width: 100%;
    margin-top: 35px;

    h1 {
      color: #fff;
      position: absolute;
      top: -17px;
      background-color: #10131c;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 10px;
    }

    .line {
      margin: 0 auto;
      width: 90%;
      height: 2px;
      background-image: linear-gradient(
        to left,
        #99999900,
        #ffffff79,
        #99999900
      );
    }
  }

  .saved-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;

    h1 {
      color: #fff;
    }

    .saved-item {
      height: 100%;
      height: 300px;
      width: 295px;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      background-color: #fffdf052;

      &.right-reveal {
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.5s ease;

        &.right-reveal.active {
          transform: unset;
          opacity: 1;
        }
      }

      &:hover .data {
        opacity: 1;
      }

      a {
        color: #f79623;
      }

      .series {
        color: #f79623 !important;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .count {
        background-color: #fff;
        padding: 3px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        gap: 5px;
        color: #10131c;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.555);
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 100%;
        padding: 10px 15px;
        opacity: 0;

        .texts {
          width: 80%;
        }

        h1 {
          font-size: 20px;
          white-space: nowrap;
          /* Matnni bir qatorga sig'dirish */
          overflow: hidden;
          /* Sig'magan qismni yashirish */
          text-overflow: ellipsis;
          /* Uch nuqta qo'shish */
        }

        img {
          width: 30px;
          height: auto;
        }
      }
    }
  }
}

.save-mob {
  display: none;
}

@media screen and (max-width: 749px) {
  #profile-section {
    padding: 15px;

    .width {
      flex-direction: column;
    }

    .profile-container {
      min-width: unset;

      #name {
        font-size: 22px;
      }
    }

    .big-ads {
      padding: 20px;
      text-align: center;
      height: auto;

      .ads {
        display: flex !important;
      }

      span {
        display: none;
      }
    }

    .saved-container {
      justify-content: space-around;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  #profile-section {
    .profile-container {
      #name {
        font-size: 20px !important;
        text-align: center;
      }

      .profile-datas {
        p {
          font-size: 13px;
        }
      }
    }
  }

  .saved-container {
    justify-content: center !important;
    gap: 15px !important;
    .saved-item {
      width: 46% !important;
      height: 200px !important;

      a {
        width: 100%;
        .views {
          .series {
            padding: 0 5px;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 40px;
          }

          .count {
            font-size: 14px !important;
            padding: 0 5px !important;

            svg {
              width: 14px !important;
              height: 14px !important;
            }
          }

          .save-mob {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            svg {
              width: 22px;
              height: 22px;
            }
          }
        }

        .data {
          opacity: 1 !important;
          padding: 5px 7px !important;

          .texts {
            width: 100% !important;

            h1 {
              font-size: 14px !important;
            }

            p {
              font-size: 12px;
            }
          }

          .save {
            display: none;
          }
        }
      }
    }
  }
}
