#add-film {
    float: right;
    padding: 10px 15px;
    background-color: #FF9222;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin: 10px 0 20px;
    margin-right: 50px;
}

@media screen and (max-width: 500px) {
    #add-film {
        width: 100%;
        margin-right: unset;
    }
}