#search-page {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  .search {
    width: 100%;
    padding: 10px 30px;

    .input-cont {
      position: relative;
      display: flex;
      gap: 10px;
      width: 100%;

      .input-x-btn {
        width: calc(100% - 140px);
        position: relative;
        
        #search-input {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          color: #fff;
          padding: 5px;
          font-size: 16px;
          padding-right: 50px;
          outline: none;
          background-color: transparent;
          border: 2px solid #ff9222;
        }

        button {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          width: 37px;
          height: 37px;
          border-radius: 50%;
          background-color: transparent;
          color: #fff;
          border: none;
          font-size: 24px;
          cursor: pointer;

          &:hover {
            background-color: #1e222b;
          }
        }
      }

      .search-btn {
        color: #fff;
        background-color: #1e222b;
        width: 130px;
        height: 45px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
      }
    }

    .search-ad {
      margin-top: 10px;
    }

    .suggest-films-users-cont {
      width: 100%;
      margin-top: 15px;
      min-height: 70vh;
      position: relative;

      .search-result-text {
        color: #fff;
      }

      .search-results {
        .results-header {
          h3 {
            color: #fff;
          }
        }
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;

        span {
          color: #ff9222;
        }
      }

      .suggestions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        gap: 20px;
        color: #fff;

        a {
          height: 100%;
          width: 295px;
          display: block;

          .content-inner {
            height: 300px;
            width: 295px;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            background-color: #fffdf052;

            .image-container {
              width: 100%;
              height: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain !important;
            }

            .views {
              position: absolute;
              z-index: 20;
              top: 0;
              width: 100%;
              left: 0;
              padding: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .series {
                padding: 0 10px;
                border-radius: 5px;
                background-color: #0000004d;
                color: #ff8c22;
              }

              .save-mob {
                display: none;
              }

              .count {
                background-color: #fff;
                padding: 3px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                gap: 5px;
                color: #10131c;

                svg {
                  width: 18px;
                  height: 18px;
                }
              }
            }

            .data {
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: rgba(0, 0, 0, 0.555);
              position: absolute;
              bottom: 0;
              color: #fff;
              width: 100%;
              padding: 10px 15px;
              opacity: 0;

              .texts {
                width: 80%;
              }

              h1 {
                font-size: 20px;
                white-space: nowrap;
                /* Matnni bir qatorga sig'dirish */
                overflow: hidden;
                /* Sig'magan qismni yashirish */
                text-overflow: ellipsis;
                /* Uch nuqta qo'shish */
              }

              p {
                white-space: nowrap;
                /* Matnni bir qatorga sig'dirish */
                overflow: hidden;
                /* Sig'magan qismni yashirish */
                text-overflow: ellipsis;
              }

              img {
                width: 30px !important;
                height: auto;
              }
            }

            &:hover .data {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 749px) {
  #search-page {
    .search {
      padding: 10px;
      .input-cont {
        #search-input {
          width: calc(100% - 120px);
          font-size: 15px;
        }

        button {
          width: 110px;
          font-size: 14px;
        }
      }

      .suggest-films-users-cont {
        .search-results {
          .results-header {
            h3 {
              font-size: 15px;
            }
          }
        }
        h2 {
          font-size: 15px;
          width: 90%;
        }
        .suggestions {
          justify-content: center !important;
          gap: 10px;

          .film-result {
            width: 48%;
          }

          a {
            width: 100%;

            .content-inner {
              width: 100%;
              height: 180px;

              .views {
                .series {
                  padding: 0 5px;
                  font-size: 14px;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 40px;
                }
                .count {
                  font-size: 14px;
                  padding: 0 5px;
                  svg {
                    width: 14px;
                    height: 14px;
                  }
                }
                .save-mob {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }

                  svg {
                    width: 22px;
                    height: 22px;
                  }
                }
              }

              .data {
                opacity: 1;
                padding: 5px 7px;

                .texts {
                  width: 100%;
                  h1 {
                    font-size: 14px;
                  }

                  p {
                    font-size: 12px;
                  }
                }

                .save {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
