// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  // --font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-luckiest-guy: 'Luckiest Guy', cursive;
  // --font-roboto-slab: 'Roboto Slab', serif;
}

html {
  font-family: var(--font-poppins);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-poppins);
  background-color: #10131c;
}

* {
  font-family: var(--font-poppins);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all .3s ease-in-out;
  scroll-behavior: smooth;
}

*::selection {
  background-color: transparent;
}

/* styles.css */

body.light-mode {
  background-color: #f3f4f8;
  color: #000;

  .logo-dark {
    display: none;
  }

  .content-inner-light {
    background-color: hsla(60, 1%, 26%, 0.322) !important;
  }

  header {
    background-color: #F5F7FA;
    border-bottom: 1px solid #B6B6B6;

    & * {
      color: #00000099;
    }

    .search {
        input {
          background-color: #FCFCFF;
        }

        button {
          background-color: #FCFCFF;
        }
    }

    .theme {
      label {
        span {
          background-color: #f5f7fa94;
        }
      }
    }
  }

  #signup-section,
  #login-section {

    &::after {
      background-color: #8c8c8cd8;
    }

    .signup-container,
    .login-container {
      background-color: #FFFFFF;

      & * {
        color: #444444;
      }

      form {
        input {
          background-color: #F5F7FA;
          border: 1px solid #9D9E9F;
          color: #444444;
        }

        p {

          a {
            color: #FF8C22;
          }
        }

        button {
          color: #fff;
        }
      }
    }
  }

  .menu-container {
    background-color: #E4EBFF;
  }

  .menu-icon {
    background-color: #fff;
  }

  #films-section {

    #title {
      color: #444;
    }
  }

  #films-container {

    &::before {
      background-color: #FDFDFF66;
    }

    .top-inner {

      .top-inner-left {
        h1 {
          color: #D5D5D5;
          -webkit-text-stroke: 0.1px black;
        }

        p {
          color: #424242;
        }
      }
    }

  }

  .alerts {
    color: #444;
  }

  #departments-container {
    background-color: #60606086;
    h1 {
      color: #444;
    }

    .swiper-slide {
      background-image: radial-gradient(#868d9e, #95B4FF, #95B4FF, #E5E5E5);

      .texts {
        color: #5A5A5A;

      }
    }
  }

  footer {
    background-color: #E4EBFF;

    .footer-inner {

      .footer-item {

        ul {

          li {

            a {
              color: #5A5A5A;
            }
          }
        }

        form {

          input,
          textarea {
            background-color: #FCFCFF;
            border: 1px solid #B1B1B1;
            color: #5A5A5A;
          }
        }
      }
    }

    & * {
      color: #5A5A5A;
    }
  }

  .menu-offcanvas-container {
    padding-top: 30px;
    color: #fff;
    background-color: #fff;
  }

  .suggested-films {
    color: #000000CC !important;

    a {
      color: #000000CC !important;
    }
  }

  .about-film {
    color: #444444;

    .series {
      color: #444444;

      .series-item {
        background-color: #E4EBFF;
        border: transparent;
        box-shadow: 0 0 5px 1px #00000036;
      }

      .series-item.selected {
        background-color: #d7def3;
        color: #00000036;
        border: 1px solid #FF8C22;
        box-shadow: unset;
      }
    }
  }

  #profile-section {

    .width {
      .big-ads {
        background-color: #FDFDFD;
        
        h1 {
          color: #444444;
        }
      }
    }
    
    .profile-container {
      background-color: #FDFDFD;
      color: #818181;
      
      #name {
        a {
          color: #000 !important;
        }
      }
      
      .profile-datas {
        

        #created-date {
          color: #818181;
        }

        p {
          span {
            color: #818181;

            &:last-child {
              font-weight: bold;
            }
          }
        }
      }
    }

    .title-line {
      position: relative;
      width: 100%;
      margin-top: 35px;

      h1 {
        color: #444444;
        position: absolute;
        top: -17px;
        background-color: #f3f4f8;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 10px;
      }

      .line {
        margin: 0 auto;
        width: 90%;
        height: 2px;
        background-image: linear-gradient(to left, #99999900, #cdcdcdb9, #99999900);
      }

    }
  }  
}


body.dark-mode {
  background-color: #10131C;
  

  .logo-light {
    display: none;
  }

  .not-found {
    color: #fff;
  }

  header {

    .header-container {

      .search {
          input {
            color: #fff;
          }
      }
    }
  }

  #name {
    a {
      color: #fff !important;
    }
  }
}

.save-login {
  height: unset !important;
  width: unset !important;
  display: unset !important;
}

.views {
  position: absolute;
  z-index: 20;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .series {
      padding: 0 10px;
      border-radius: 5px;
      background-color: #0000004d;
      color: #f79623;
  }

  .count {
      background-color: #fff;
      padding: 3px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      gap: 5px;
      color: #10131C;

      svg {
          width: 18px;
          height: 18px;
      }
  }
}