#pass-recovery {
    background-image: url("/assets/bg-image.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #12151BEB;
        width: 100%;
        height: 100%;
    }

    .password-reset-container {
        position: relative;
        z-index: 1;
        background-color: #13161C;
        padding: 30px;
        border-radius: 1rem;
        max-width: 500px;
        border: 1px solid #C9C9C9;

        h1 {
            color: #fff;
            text-align: center;
        }

        .progress-steps {
            .step {
                display: none;
                &.active {
                    display: block;
                }
            }
        }

        form {
            display: flex;
            justify-content: space-between;
            row-gap: 20px;
            flex-wrap: wrap;
            // margin-top: 25px;

            &.sec {
                row-gap: 0 !important;

                .repass-p {
                    margin-top: 20px;
                }

                input {
                    margin-top: 20px;
                }

                .form-actions {
                    margin-top: 20px;

                    button {
                        font-size: 15px;
                    }
                }
                
                .alert.error {
                    margin-top: 15px;
                }
            }

            .alert.error {
                color: red;
            }

            h2 {
                color: #fff;
                margin: 0 auto;
            }

            .repass-p {
                text-align: center;

                span {
                    color: #FF8C22;
                }

                &.oth {
                    margin-top: 0 !important;
                }
            }

            #pss {
                width: 100%;
                position: relative;
                input {
                    padding-right: 55px;
                }

                button {
                    position: absolute;
                    // background-color: transparent;
                    right: 2px;
                    top: 2px;
                    // top: 50%;
                    // transform: translateY(-50%);
                    height: 93%;
                    width: 50px;
                    display: grid;
                    place-content: center;
                    padding: 0;
                    max-height: 43px;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: #fff
                    }
                }
            }

            input[type="email"], input[type="text"], input[type="password"] {
                width: 100%;
                background-color: #2B292E;
                color: #FFFFFF80;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #717171;
                outline: none;
                font-size: 16px;
            }

            .form-actions {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: center;
            }

            p {
                width: 100%;
                color: #fff;
                font-size: 14px;

                a {
                    color: #FF8C22;
                    text-decoration: underline;
                
                    animation: animatsiya-nomi uning-vaqti necha-marta-takrorlanishi;
                }
            }

            button {
                background-color: #FF8C22;
                padding: 8px 30px;
                border-radius: 8px;
                color: #fff;
                font-size: 16px;
                margin: 0 auto;
                border: 0;
                cursor: pointer;
            }
        }
    }
}

.error {
    margin-top: -14px;
}


#add {
    max-height: 45px;
}
@media screen and (min-width: 1367px) {
    #pass-recovery {
        min-height: 80vh;
    }
}

@media screen and (min-width: 2000px) {
    #pass-recovery {
        min-height: 70vh;
    }
}

@media screen and (max-width: 769px) {
    #pass-recovery {
        background-position: center;
        background-size: cover;
        padding: 0 10px;
        min-height: 80vh;
    }
}