#signup-section {
    background-image: url("/assets/bg-image.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #12151BEB;
        width: 100%;
        height: 100%;
    }

    .signup-container {
        position: relative;
        z-index: 1;
        background-color: #13161C;
        padding: 30px;
        border-radius: 1rem;
        max-width: 700px;
        border: 1px solid #C9C9C9;


        h1 {
            color: #fff;
            text-align: center;
        }

        form {
            display: flex;
            justify-content: space-between;
            row-gap: 20px;
            flex-wrap: wrap;
            margin-top: 25px;

            div {
                width: 48%;
            }

            input[type="text"], input[type="email"] {
                width: 100%;
                background-color: #2B292E;
                color: #FFFFFF80;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #717171;
                outline: none;
                font-size: 16px;
            }

            #pss {
                width: 100%;
                position: relative;

                button {
                    position: absolute;
                    // background-color: transparent;
                    right: 2px;
                    top: 2px;
                    // top: 50%;
                    // transform: translateY(-50%);
                    height: 93%;
                    width: 50px;
                    display: grid;
                    place-content: center;
                    padding: 0;
                    max-height: 43px;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: #fff
                    }
                }
            }

            input[type="password"] {
                width: 100%;
                background-color: #2B292E;
                color: #FFFFFF80;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #717171;
                outline: none;
                font-size: 16px;
            }


            p {
                width: 100%;
                color: #fff;

                a {
                    color: #FF8C22;
                    text-decoration: underline;
                
                    animation: animatsiya-nomi uning-vaqti necha-marta-takrorlanishi;
                }
            }

            button {
                background-color: #FF8C22;
                padding: 8px 30px;
                border-radius: 8px;
                color: #fff;
                font-size: 16px;
                margin: 0 auto;
                border: 0;
                cursor: pointer;
            }
        }

        #google-signin-btn {
            background-color: #2B292E;
            padding: 7px 13px;
            border: 1px solid #717171;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            align-items: center; 
            justify-content: center;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;

            &:hover {
                background-color: transparent;
            }
        }
        
    }
}

.error-signup {
    margin-top: unset !important;
}

@media screen and (min-width: 1367px) {
    #signup-section {
        min-height: 80vh;
    }
}

@media screen and (min-width: 2000px) {
    #signup-section {
        min-height: 70vh;
    }
}

@media screen and (max-width: 749px) {
    #signup-section {
        background-position: center;
        background-size: cover;
        padding: 30px 10px;
        // min-height: 80vh;

        .signup-container {
            form {
                div {
                    width: 100%;
                }
            }
        }
    }
}