.swiper-slide {
  display: flex;
  justify-content: center;

  a {
    img {
      width: 200px;
      object-fit: cover;
    }
  }
}

.carousel-link {
  width: 210px !important; /* Rasmlarning maksimal kengligini belgilash */
  height: 220px !important;
  display: flex;

  div {
    img:hover {
      transform: scale(1.1);
    }

  }

}

.mySwiper_1 {
  padding: 30px 0 !important;
}

.mySwiper_1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  &::selection {
    background-color: transparent;
  }
}

.alerts {
  color: #fff;
}

.none {
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  .carousel-link {
    width: 180px !important; /* Rasmlarning maksimal kengligini belgilash */
    height: 180px !important;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide {
    a {
      img {
        width: 160px;
      }
    }
  }
}
